<br><br>
<div style="text-align: center">
    <small>
        Operate only on devices you own with explicit consent. Actions are logged.
    </small>
    <br>
    <div id="notice"></div>
    <script>
        $('#notice').text('You confirm that remote actions are authorized and audited.');
    </script>
 </div>

<br><br>
