<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" href="/l3mon/css/semantic.min.css" />
    <link rel="stylesheet" href="/l3mon/css/snackbar.min.css" />
    <link rel="stylesheet" href="/l3mon/css/custom.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/l3mon/js/jquery-3.4.1.min.js"></script>
    <script src="/l3mon/js/semantic.min.js"></script>
    <script src="/l3mon/js/snackbar.min.js"></script>
    <script src="/l3mon/js/main.js"></script>
</head>
